@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Gilroy";
    src: url("/fonts/Gilroy-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gilroy Semi Bold";
    src: url("/fonts/Gilroy-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gilroy Bold";
    src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gilroy Extra Bold";
    src: url("/fonts/Gilroy-ExtraBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gilroy Black";
    src: url("/fonts/Gilroy-Black.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gilroy Heavy";
    src: url("/fonts/Gilroy-Heavy.ttf") format("truetype");
  }
  h1 {
    @apply font-gilroyHeavy text-5xl lg:text-6xl tracking-wide;
  }
}

@layer components {
  .btn-common {
    @apply px-5 lg:px-8 py-4 rounded-md lg:rounded-lg font-gilroyExtraBold text-base lg:text-lg tracking-wider uppercase;
  }
  .btn-primary {
    @apply bg-blue-500 text-white btn-common;
  }
  .btn-secondary {
    @apply border-2 border-blue-500 text-blue-500 btn-common lg:ml-10;
  }
  .nav-link {
    @apply block cursor-pointer mb-7 lg:mb-0 lg:pb-1 lg:px-10;
  }
  .nav-link-hover-style {
    @apply pb-3 border-b-2 border-white transition ease-in duration-300 hover:border-blue-500 hover:text-blue-500;
  }
}
